@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/permanentmarker/v10/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
body {
            padding-top: 1rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

/* Above is the default CSS rules. Everything below is my own custom rules. */

.sakura::after {
	    content: url("i/sakura.png");
	    position: fixed;
            right: 0;
            bottom: 0;
            z-index: 0;
    } 

.background {
            background: url("i/pattern.jpg");
        }
        
h1 {
    color: blue;
}

titleheader {
    color: aqua;
    font-size: 64px;
    font-family: "Permanent Marker";
    text-shadow: 0px 4px gray;
}
titleheader2 {
    color: aqua;
    font-size: 24px;
    font-family: "Permanent Marker";
    text-shadow: 0px 4px gray;
}

p {
    color: darkslategray;
}

.bodylinks {
    padding: 3rem 1.5rem;
    padding-top: 1%;
    
}

.bodylink_text {
    text-align: center;
}

bottomofpage {
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 8px;
}
/* 
.avatar {
    content: url(i/avatar.jpg);
    display: inline-block;
    width: 15%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto; 

} */

sub {
    color: white;
    width: 90%;
    margin-right: auto;
}